#homepage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    color: #222;

    header {
        background-color: darkblue;
        border-bottom: 1px solid #ddd;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: bold;

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h1 {
                font-size: 2rem;
                color: white;
            }
    
            li {
                list-style: none;
            }
    
            a {
                color: white;
            }
        } 
    }

    main{
        flex: 1;
        padding: 2rem;
    }
}

  